footer {
  background-color: #171717;
}

.footer__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__links {
  margin-bottom: 16px;
}

.footer__link:hover,
.footer__social--link .footer__social--icon:hover {
  color: var(--stan-blue);
  cursor: not-allowed;
}

.footer__spacer {
  padding: 6px;
  color: #999;
}

.footer__copyright {
  color: #999999;
  margin-bottom: 16px;
}

.footer__social--icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.footer__social--icon:hover {
  cursor: pointer;
}

.footer__available--text {
  font-size: 16px;
  color: #999999;
}

.footer__available--img {
  margin-left: 16px;
}

.footer__download {
  margin: 16px 0;
}
.footer__download--icon {
  max-height: 40px;
  width: auto;
}

.footer__download--apple {
  margin-right: 16px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 768px) {
  .footer__right {
    display: none;
  }
}